<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product Page</title>
</head>
<style>
  .product-item {
    display: inline-list-item;
    float: left;
    width: 300px;
    height: 400px;
    border: 1px solid gray;
    margin: 20px;
    padding: 10px;
  }

</style>

</head>
<body>
<form method="get" action="product_page.html">
  <h1 align="center">Products List</h1>
  <div>
    <tr>
      <td>
        <a href="/product/add">Create new product</a>
      </td>
    </tr>
  </div>
  <br>
  <div>
    <div th:each="product : ${listProduct}">
      <div class="product-item">
        <table width="100%" border="1" cellpadding="1" cellspacing="1" align="center">
          <tr>
            <td>Id</td>
            <td>
              <p th:text="${product.id}"></p>
            </td>
          </tr>
          <tr>
            <td>Name</td>
            <td>
              <p th:text="${product.name}"></p>
            </td>
          </tr>
          <tr>
            <td>Description</td>
            <td>
              <p th:text="${product.description}"></p>
            </td>
          </tr>
          <tr>
            <td>Quantity</td>
            <td>
              <p th:text="${product.quantity}"></p>
            </td>
          </tr>
          <tr>
            <td>Price</td>
            <td>
              <p th:text="${product.price}"></p>
            </td>
          </tr>
          <tr>
            <td>Price</td>
            <td>
              <p th:text="${product.image}"></p>
            </td>
          </tr>
          <tr>
            <td><a th:href="@{/product/update/__${product.id}__ }">Update</a></td>
            <td><a th:href="@{/product/delete/__${product.id}__ }">Delete</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</form>
</body>
</html>